@model IEnumerable<GetGenreDto>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <br />
    <h1>List of Genres</h1>
    <p>
        <a class="btn btn-outline-dark" asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                    <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>
                            @if (item.UpdatedAt != null)
                            {
                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                            }
                            else
                            {
                                <span>Not updated yet</span>
                            }
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs"></i> Actions
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>