@model FriendsVM
@{
    int count = 0;
}
<main class="page-main">
    <div class="uk-grid uk-grid-stack" data-uk-grid="">
        <div class="uk-width-2-3@xl uk-first-column">
            <div class="widjet --filters">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Friends</h3>
                </div>
                <div class="widjet__body">
                    <div class="uk-grid uk-flex-middle uk-grid-small" data-uk-grid="">
                        <div class="uk-width-expand@s uk-first-column">
                            <div class="search">
                                <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                            </div>
                        </div>
                        <div class="uk-width-auto">
                            <select class="js-select" style="display: none;">
                                <option value="">Filter: Active</option>
                                <option value="Active 1">Active 1</option>
                                <option value="Active 2">Active 2</option>
                                <option value="Active 3">Active 3</option>
                            </select>
                            <div class="nice-select js-select" tabindex="0"><span class="current">Filter: Active</span><ul class="list"><li data-value="" class="option selected">Filter: Active</li><li data-value="Active 1" class="option">Active 1</li><li data-value="Active 2" class="option">Active 2</li><li data-value="Active 3" class="option">Active 3</li></ul></div>
                        </div>
                        <div class="uk-width-auto"><button class="ico_more" href="#"></button></div>
                    </div>
                </div>
            </div>
            <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid="">
                @foreach (var friend in Model.Friends)
                {
                    @if (count % 2 == 0)
                    {
                        <div class="uk-grid-margin uk-first-column">
                            <div class="user-item --active">
                                <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="@friend.UserId"><div class="user-item__avatar"><img src="~/images/ProfilePictures/@friend.ProfilePictureName" alt="user"></div></a>
                                <div class="user-item__box">
                                    <div class="user-item__name">@friend.Username</div>
                                </div>
                                <div class="user-item__more">
                                    <a class="ico_more" href="#" uk-toggle="target: #my-id"></a>
                                    <div id="my-id" uk-dropdown="mode: click">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li><a asp-action="RemoveFriend" asp-route-friendId="@friend.UserId">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        count++;
                    }
                    else
                    {
                        <div class="uk-grid-margin">
                            <div class="user-item --active">
                                <a asp-controller="Profile" asp-action="ViewUserProfile" asp-route-id="@friend.UserId"><div class="user-item__avatar"><img src="~/images/ProfilePictures/@friend.ProfilePictureName" alt="user"></div></a>
                                <div class="user-item__box">
                                    <div class="user-item__name">@friend.Username</div>
                                </div>
                                <div class="user-item__more">
                                    <a class="ico_more" href="#" uk-toggle="target: #my-id"></a>
                                    <div id="my-id" uk-dropdown="mode: click">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li><a asp-action="RemoveFriend" asp-route-friendId="@friend.UserId">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                }
               
            </div>
        </div>
        <div class="uk-width-1-3@xl uk-grid-margin uk-first-column">
            <div class="widjet --friend-requests">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Friend Requests</h3>
                </div>
                <div class="widjet__body">
                    <ul class="friend-requests-list">
                        @if (Model.IsReceivedFriendshipRequestsEmpty)
                        {
                            <span style="color: #888; font-size: 18px; font-style: italic;">There are no friend requests</span>
                        }
                        @foreach (var friendRequestDto in Model.ReceivedFriendshipRequests)
                        {
                            //TODO: Add pp of user
                            <li class="friend-requests-item">
                                <div class="user-item__avatar"><img src="~/images/ProfilePictures/@friendRequestDto.ProfilePictureName" alt="user"></div>
                                <div class="friend-requests-item__name">@friendRequestDto.Username</div>
                                <div class="friend-requests-item__action">
                                    <a asp-action="AcceptFriendRequest" asp-route-requestId="@friendRequestDto.RequestId"><button class="confirm ico_tick-circle" type="button"></button></a>
                                    <a asp-action="DeclineFriendRequest" asp-route-requestId="@friendRequestDto.RequestId"><button class="reject ico_trash" type="button"></button></a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="widjet --friend-requests">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Add friend</h3>
                </div>
                <div class="widjet__body">
                    <form asp-controller="Friends" asp-action="AddFriend" method="post" class="form-group d-flex align-items-center">
                        <input type="text" name="name" placeholder="Enter friend's name" class="form-control flex-grow-1"/>
                        <button type="submit" class="btn" style="background: none; border: none;">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </form>
                    <br/>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                    else if(TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</main>
