@section HomeStylings{
    <style>
        .recommend-slide__img img {
            width: 100%;
            height: auto;
            position: relative;
        }

        .recommend-slide__img .recommend-slide__intro {
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
            color: white;
            width: 100%;
            padding: 10px;
        }

        .recommend-slide__box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .recommended-game-name {
            color: white;
        }

        .custom-height {
            height: 500px; /* adjust this value as needed */
        }

      
    </style>
}
@model HomeVM
<main class="page-main">
    <div class="uk-grid" data-uk-grid>
        <div class="uk-width-8-9@xl custom-height">
            <h3 class="uk-text-lead">Recommended & Featured</h3>
            <div class="js-recommend">
                <div class="swiper">
                    <div class="swiper-wrapper">

                        @foreach(var recommendedGame in Model.RecommendedGames.Skip(1))
                        {
                            <div class="swiper-slide">
                                <div class="recommend-slide">
                                    <div class="recommend-slide__box">
                                        <div class="recommend-slide__info">
                                            <h3 class="recommended-game-name">@recommendedGame.Name</h3>                                            <div class="recommend-slide__intro"><span>@recommendedGame.Description</span></div>
                                            <div class="recommend-slide__rating-and-price">
                                                <div class="recommend-slide__price"><span>$@recommendedGame.Price </span></div>
                                            </div>
                                            <div class="recommend-slide__btn"><a asp-controller="Store" asp-action="Details" asp-route-id="@recommendedGame.Id" class="uk-button uk-button-danger" type="button">Play Now</a></div>
                                            <div class="recommend-slide__platform">
                                                <i class="ico_windows"></i>
                                                <i class="ico_apple"></i>
                                            </div>
                                        </div>
                                        <div class="recommend-slide__img">
                                            <img class="recommended-game-image" src="~/images/games/@recommendedGame.Images.FirstOrDefault().FileName" alt="image">
                                        </div>
                                        <div class="recommend-slide__favorites"><i class="ico_favourites"></i></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swipper-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-1">
            <h3 class="uk-text-lead">Most Popular</h3>
            <div class="js-popular">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        @foreach(var popularGame in Model.PopularGames)
                        {
                            <div class="swiper-slide">
                                <div class="game-card">
                                    <div class="game-card__box">
                                        <div class="game-card__media"><a asp-controller="Store" asp-action="Details" asp-route-id="@popularGame.Id">
                                            <img src="~/images/games/@popularGame.CoverImageFileName" alt="@popularGame.Name"/></a>
                                        </div>
                                        <div class="game-card__info">
                                            <a class="game-card__title" asp-controller="Store" asp-action="Details" asp-route-id="@popularGame.Id"> @popularGame.Name</a>
                                            <div class="game-card__genre">Shooter * Platformer</div>
                                            <div class="game-card__rating-and-price">
                                                <div class="game-card__rating"><span>4.8</span><i class="ico_star"></i></div>
                                                <div class="game-card__price"><span>$@popularGame.Price </span></div>
                                            </div>
                                            <div class="game-card__bottom">
                                                <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</main> 