@model CartVM

@{
    ViewData["Title"] = "Shopping Cart";
}
<style>
    .margin-left {
        margin-left: 5px;
    }
</style>
<div class="container mt-5">
    <h2 class="mb-4 text-center" style="color: #5a6268;">@ViewData["Title"]</h2>

    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th style="background-color: #f8f9fa;">Product</th>
                <th style="background-color: #f8f9fa;">Quantity</th>
                <th style="background-color: #f8f9fa;">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart.CartItems)
            {
                <tr>
                    <td>@item.Game.Name</td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <a class="btn btn-outline-secondary" asp-action="RemoveFromCart" asp-route-GameId="@item.Game.Id">-</a>
                            </div>
                            <input type="text" class="form-control text-center" readonly value="@item.Quantity">
                        </div>
                    </td>
                    <td>@item.Game.Price.ToString("C")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-right"><strong>Total</strong></td>
                <td><strong>@Model.Cart.TotalPrice</strong></td>
            </tr>
        </tfoot>
    </table>
    @if (Model.CartHasItems)
    {
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary btn-lg mr-2" asp-controller="CheckOut" asp-action="PayFromWallet"
               disabled="@(Model.UserBalance < Model.Cart.TotalPrice ? "disabled" : null)">Pay from Wallet</a>
            <a class="btn btn-primary btn-lg" asp-controller="CheckOut" asp-action="CheckOutFromCart">Proceed to Checkout</a>
        </div>
    }
</div>
